body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, select, textarea{
  color: #2E1114;
  -webkit-text-fill-color: #2E1114;
}

.bg-mute-light {
  background-color: #ADADAD;
}

.bg-mute-dark {
  background-color: #2E1114;
}

.bg-mute-primary {
  background-color: #501B1D;
}

.bg-mute-secondary {
  background-color: #64485C;
}

.bg-mute-tertiary {
  background-color: #83677B;
}

.text-primary {
  -webkit-text-fill-color: azure;
}

.color-primary {
  color: azure;
}

